<%= "Round #{@status}" %><br>

<%= @game.quotes[@status].text %><br>
<ol>
    <% @answers.each do |answer| %>
        <li><%= button_to answer.author, "/games/#{@game.id}/#{@status}/#{answer.id}" %></li>
    <% end %>
</ol>

