<h1>About this Game</h1>

<body>
    In the year 21 BC, a wise man once said "this website is for a game where you guess what movie the line came from ". That man was Bruce Willis.
    <img src="../../assets/images/we-are-from-tech-support-weare-here-to-delete-your-41473465.png">
</body>